:root {
  --primary-color: #0c131c;
  --secondary-color: #111111;
  --accent-color: #cdbe91;
  --text-color: #f0e6d2;
  --background-color: #ecf0f1;
  --form-control-color: #2b2a29;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

img,
picture,
svg {
  display: block;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding: 0 2em;
  background-color: #111111;
  border-bottom: solid 1px #191919;
  height: 5em;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  /* max-width: 100%; */
  list-style: none;
}

nav li {
  font-size: 1.4em;
  color: var(--text-color);
  margin: 0 1em;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: inherit;
}

nav li a:hover {
  border-bottom: 1px solid var(--accent-color);
}

.nav-search-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  /* position: relative;
  top: 0%;
  left: -500%;
  transform: translate(-20%, -30%); */
  padding-left: 1em;
  color: var(--accent-color);
  font-size: 2em;
}

/* .nav-search-container.search-homepage {
  position: absolute;
  top: 500%;
  left: 50%;
  transform: translate(-46.5%);
} */

.background-video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  height: 100%;
  /* overflow: hidden; */
  z-index: -1; /* Place it behind other elements */
  border-bottom: 1px solid var(--accent-color);
}

.search-container {
  display: flex;
}

.champion-input {
  width: 100%;
  border: none;
  padding: 0.5em 4em 0.5em 1.2em;
  font-size: 1.3em;
  box-shadow: 0 5px 8px 3px black;
  background-color: #2b2a29;
  color: white;
}

.champion-input:focus {
  outline: none;
}

.search-button {
  position: relative;
  right: 100%;
  width: 2.5em;
  height: 100%;
  border-radius: 2em;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.video {
  height: 100%;
  object-fit: contain;
}

.overlay {
  width: 97em;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    circle at center,
    transparent 55%,
    rgba(0, 0, 0, 1) 75%
  );
}

.content {
  min-height: 100vh;
  background-color: #0c131c;
}

.content-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.championGallery {
  display: flex;
  width: 75em;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.championCard {
  background-color: black;
}

.championCard img {
  height: 20em;
  width: 11em;
}

.championCard p {
  color: #cdbe91;
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  margin: 0.5em;
}

.guide {
  min-height: 100vh;
  background-color: #0c131c;
  display: flex;
  justify-content: center;
  z-index: -1;
  overflow: hidden;
}

.guide-container {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  width: 75em;
  /* background-color: grey; */
}

.guide-container h1 {
  padding: 0;
  margin: 0;
}

.guide-champion {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
}

.abilities {
  display: flex;
  margin-top: 0.5em;
  gap: 0.2em;
}

.abilities img {
  border: 3px black solid;
  width: 4em;
  height: 4em;
}

.biography {
  margin-top: 3em;
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  font-size: 1.5em;
}

.splash-container {
  width: 100vw;
}

.guide-splash {
  height: 100vh;
  min-width: 100%;
  object-fit: cover;
  border-bottom: solid 1px var(--accent-color);
  z-index: 0;
}

.splash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: 100vh;
  width: 100vw;
}

.guide-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.5em;
}

/* .guide-header h1 {
  font-size: 3rem;
} */

.guide-header p {
  color: #cdbe91;
  font-size: 1em;
}
