@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Merriweather+Sans&display=swap");

:root {
  --primary-color: #0c131c;
  --secondary-color: #111111;
  --accent-color: #cdbe91;
  --text-color: #f0e6d2;
  --background-color: #ecf0f1;
  --form-control-color: #2b2a29;
  --nav-seperator-color: #191919;
}

@media (max-width: 760px) {
  nav,
  .content,
  .background-video,
  .footer,
  .lore,
  .splash-container {
    min-width: 760px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h4 {
  font-family: "EB Garamond", serif;
}

p {
  font-family: "Merriweather Sans", sans-serif;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5em;
  background-color: var(--secondary-color);
  border-bottom: solid 2px var(--nav-seperator-color);
  height: 5em;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  font-family: "EB Garamond", serif;
  font-size: 1.4em;
  color: var(--text-color);
  margin: 0 1em;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: inherit;
}

nav li a:hover {
  border-bottom: 1px solid var(--accent-color);
}

.nav-search-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding-left: 44.7px;
}

.logo {
  color: var(--accent-color);
  font-size: 2.5em;
  font-family: "EB Garamond", serif;
}

.background-video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.search-container {
  display: flex;
}

.search-not-found {
  font-size: 4em;
  color: var(--accent-color);
  align-self: center;
}

.champion-input {
  width: 100%;
  border: none;
  padding: 0.5em 4em 0.5em 1.2em;
  font-size: 1.3em;
  box-shadow: 0 5px 8px 3px black;
  background-color: var(--form-control-color);
  color: white;
}

.champion-input:focus {
  outline: none;
}

.search-button {
  position: relative;
  right: 100%;
  width: 2.5em;
  height: 100%;
  border-radius: 2em;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.overlay {
  width: 97em;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    circle at center,
    transparent 55%,
    rgba(0, 0, 0, 1) 75%
  );
}

.content {
  min-height: 100vh;
  background-color: #0c131c;
}

.featured-champion {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  border-top: 1px solid var(--accent-color);
  box-shadow: inset 0 6px 10px -10px var(--accent-color);
  transition: 0.4s;
}

.featured-champion:hover {
  box-shadow: inset 0 10px 10px -10px var(--accent-color);
}

.featured-champion h1 {
  color: var(--accent-color);
  font-size: 3em;
  margin-bottom: 1em;
}

.featured-champion h2 {
  color: var(--accent-color);
  font-size: 3em;
  margin: 0;
}

.featured-champion img {
  width: 35em;
  border: 2px solid #cdbe91;
}

.featured-champion button {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1em;
  color: var(--text-color);
  background-color: #0c131c;
  margin: 2em 0;
  padding: 1em 2em;
  border: 2px solid var(--accent-color);
  border-radius: 6px;
  transition: 0.2s;
}

.featured-champion button:hover {
  box-shadow: 0px 0px 10px 2px var(--accent-color);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
  border-top: 1px solid var(--accent-color);
  box-shadow: inset 0 6px 10px -10px var(--accent-color);
  transition: 0.4s;
  padding: 2em;
}

.about h1 {
  font-size: 3em;
}

.about p {
  line-height: 2;
  color: var(--text-color);
}

.about:hover {
  box-shadow: inset 0 10px 10px -10px var(--accent-color);
}

.about-content {
  display: flex;
  align-items: center;
  gap: 5em;
  max-width: 50em;
  padding-bottom: 2em;
}

.about-content img {
  height: min-content;
}

.about-content p {
  font-size: 1.3em;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.content-container h1 {
  color: var(--accent-color);
  font-size: 3em;
  margin: 0;
}

.champion-gallery {
  display: flex;
  max-width: 75em;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.champion-card {
  background-color: black;
}

.champion-card img {
  height: 20em;
  width: 11em;
}

.champion-card h1 {
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  margin: 0.5em;
}

.lore {
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  z-index: -1;
  overflow: hidden;
}

.lore-container {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75em;
}

.lore-container h1 {
  padding: 0;
  margin: 0;
}

.lore-champion {
  margin: 0 0.5em;
}
.lore-champion img {
  width: 4em;
  height: 4em;
}

.abilities {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent-color);
}

.abilities img {
  border: 3px black solid;
  width: 4em;
  height: 4em;
}

.champion-content {
  margin-top: -8em;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  width: 30em;
  font-size: 1.5em;
}

.biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.biography h2 {
  color: var(--accent-color);
}

.skills-container {
  margin-bottom: 2em;
}

.skills-header {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}

.passive {
  display: flex;
  border-bottom: 1px solid var(--accent-color);
}

.passive p {
  font-size: 0.6em;
  align-self: center;
  padding: 0 1em;
}

.skill {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
}

.skill:last-child {
  border-bottom: none;
}

.skill p {
  padding: 0 1em;
  font-size: 0.6em;
}

.tabs {
  font-family: "EB Garamond", serif;
  list-style: none;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid var(--accent-color);
  padding: 0;
  margin-bottom: 0;
}

.tabs li {
  border: 1px solid var(--accent-color);
  border-bottom: none;
  padding: 1em;
}

.tabs li.active-tab {
  box-shadow: 0px 0px 10px 2px var(--accent-color);
  border: none;
}

.splash-container {
  width: 100vw;
}

.lore-splash {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 1px 10px -2px var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
}

.lore-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 2.5em;
  text-shadow: -1px -1px black, 1px 1px black, 1px 1px black, -1px -1px black;
}

.lore-header h4 {
  color: var(--accent-color);
}

.footer {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  border-top: solid 2px var(--nav-seperator-color);
  color: var(--text-color);
}

.hide-content {
  display: none;
}

.separator {
  width: 1px;
  background-color: var(--accent-color);
  align-self: stretch;
}
